{% extends 'base.html' %}

{% block title %}Inicio | Mi Blog{% endblock %}

{% block content %}

<h1 class="text-center mb-4">Últimos Posts</h1>

{% for post in posts %}
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h3>
                <a href="{% url 'detalle_post' post.id %}" class="text-decoration-none text-dark">
                    {{ post.titulo }}
                </a>
            </h3>
            <p>{{ post.contenido|truncatewords:25 }}</p>
            <small class="text-muted">
                {{ post.fecha_creacion|date:"d M Y H:i" }}
            </small>
        </div>
    </div>
{% empty %}
    <p>No hay publicaciones aún.</p>
{% endfor %}

{% endblock %}


